.header {
  background-color: black;
  .nav-link {
    color: white;
    font-size: 17px;
    transition: all 0.5s;
    &:hover {
      color: rgb(253, 194, 33);
    }
  }
  .active {
    color: rgb(253, 194, 33) ;
  }
  .log-out {
    border: none;
    transition: all 0.5s;
    &:hover {
      background-color: red;
      color: white;
    }
  }
}
