.footer {
  background-color: black;
  position: relative;
  h4 {
    font-size: 20px;
    color: #fdc221;
    &::after {
      content: "";
      position: absolute;
      left: 15px;
      top: 32px;
      height: 2px;
      background-color: #fdc221;
    }
  }
  .chungtoi {
    &::after {
      width: 40%;
    }
  }
  .hotro {
    &::after {
      width: 60%;
    }
  }
  .doitac {
    &::after {
      width: 23%;
    }
  }
  ul {
    list-style: none;
    padding: 0;
    li {
      margin: 10px 0;
      border-bottom: 0.5px solid rgb(79, 79, 79);

      a {
        color: #fff;
        text-decoration: none;
        transition: all 0.5s;
        &:hover {
          color: #fdc221;
        }
      }
    }
  }
  .footer-img img {
    border-radius: 50%;
    margin: 10px;
  }
}
