.side-bar {
    .active{
        background-color: rgb(86, 80, 255) !important;
        border-radius: 10px;
    }
    .nav-link {
        color:#fff;
        font-weight: bold;
        font-size: 25px;
        margin: 15px 0;
        border-radius: 10px;
        &:hover {
            background-color:  rgb(192, 192, 192);

        }
    }
}