.side-bar {
    .active{
        background-color: aqua;

    }
    .nav-link {
        color: red;
        font-weight: bold;
        text-align: center;
        font-size: 25px;
        margin: 15px 0;
    }
}